  .button {
    float: left;
    width: 19vw;
    margin: 0.1vw;
    padding: 10px 0px;
    font-size: 16px;
    color: #333;
    border: none;
  }
  .button.spacer {
    background: #3a3a4d;
  }
  .containerContainer{
    overflow: hidden;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }
  .container {
    overflow: hidden;
    width: 99.5%;
    position: absolute;
    margin: 0%;
    padding: 0.25% 0.25% 0.50% 0.25%;
    height: 61.5vw;
  }
  .container .box {
    display: inline-block;
    /*
    width: 11.8vw;
    height: 11.8vw;
    */
    margin: 0.25vw;
    text-align: center;
    font-size: 20px;
    line-height: 100px;
    position: absolute;
  }
  .container{
    font-size: 1vw;
  }
  .viewgrid{
    font-size: 3vw;
    left: 10vw;
    width: 80vw;
  }