@charset "utf-8";
/* CSS Document */

body {
	background-color: #111;
	color: #EEE;
	font-size: 2vw;
	margin: 0vw;
}

.dark-mode {
	background-color: #111;
	color: #EEE;
	transition-property: all;
    transition-duration: 0.5s;
}

.light-mode {
	background-color: #EEE;
	color: #333;
	transition-property: all;
    transition-duration: 0.5s;
}

.dark-mode-element{
    color: #333;
    background-color: #EEE;
}

.light-mode-element{
    color: #EEE;
    background-color: #333;
}

.purplink{ /* used in dark mode */
    color: #ceabee;
    transition-property: all;
    transition-duration: 0.5s;
}

.darkpurplink{ /* used in light mode */
    color: #9853d8;
    transition-property: all;
    transition-duration: 0.5s;
}

.bluelink{ /* used in dark mode */
    color: #57a9e0;
    transition-property: all;
    transition-duration: 0.5s;
}

.darkbluelink{ /* used in light mode */
    color: #3d59d3;
    transition-property: all;
    transition-duration: 0.5s;
}

.title {
  text-align: center;
  font-size: 3.6vw;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.nav-list {
	background-color:#333;
    list-style-type: none;
	height: 6vw;
    margin: 0vw 0vw 0vw 0vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	transition-property: all;
    transition-duration: 0.75s;
	width: 100%;
    z-index: 1000;
}

.gap {
    display: flex;
    width: 12.6vw;
	height: 6vw;
    border: none;
    background-color: #333;
	padding: 0px;
    font-size: 1.5vw;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.75s;
}

.block {
    display: block;
	position: relative; 
    width: 10.6vw;
    height: 6vw;
    line-height: 1.5vw;
    border: none;
    background-color: #333;
    padding: 2.1vw 0vw 2.1vw 0vw;
    font-size: 1.275vw;
    cursor: pointer;
    color: #FFF;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.75s;
	font-weight: bold;
	filter: brightness(100%);
}

.block:hover{
  background-color: #666;
  color: #FFF;
  filter: brightness(85%);
  transition-property: all;
  transition-duration: 0.75s;
}

.hoverUp{
    transition-property: all;
    transition-duration: 0.75s;
    transform: translateY(0vw);
    pointer-events: none;
}

.icon {
    display: block;
    width: 5.6vw;
    border: none;
    background-color: #333;
    padding: 1.55vw 0vw 1.35vw 0vw;
    font-size: 1.275vw;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.75s;
    filter: brightness(100%);
}

.icon:hover{
  filter: brightness(75%);
}
.mail:hover{
	background-color:#008EFF;
}

.youtube:hover{
	background-color:#F00;
}

.lightOff{
	background-color:#333;
	display: block;
    width: 5.6vw;
    border: none;
    padding: 1.55vw 0vw 1.35vw 0vw;
    font-size: 1.275vw;
    cursor: pointer;
    text-align: center;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
}

.lightOn{
	background-color:#EEE;
	display: block;
    width: 5.6vw;
    border: none;
    padding: 1.55vw 0vw 1.35vw 0vw;
    font-size: 1.275vw;
    cursor: pointer;
    text-align: center;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
}

.lightOff:hover{
	background-color:#666;
    filter: brightness(75%);
}

.lightOn:hover{
	background-color:#CCC;
    filter: brightness(75%);
}

.instagram:hover{
	background-color:#8134AF;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

#mainLogo{
	margin: 0vw 0vw 0vw 0vw;
    transform: translate3d(0,0,0);
    transition-property: all;
    transition-duration: 0.75s;
}

.sticky {
	position: fixed;
	top: 0;
}

.content {
	padding: 1vw;
}

#mainTitleID{
    transform: translateX(0.4vw);
}

.mainTitle{
    font-size: 8vw;
    margin: auto;
    width: 5%;
    padding: 1vw;
    margin-top: 0vw;
    margin-bottom: 2vw;
    width: 90vw;
    text-align: center;
    transition-duration: 0.75s;
}

.mainTitle:hover{
    letter-spacing:1vw;
    transform: translateY(0.5vw) translateX(0.4vw);
    opacity: 0.6;
}

.paddingtop {
	padding-top: 7vw;
}

.divGap{
	display: flex;
	flex-direction: column;
}

#topVideo{
	padding: 0;
	margin: 0;
}

.footer{
    background-color:#333; 
    color:white; 
    display:flex;
    padding:0vw;
}

.footertext{
    padding:0.75vw;
    margin:0;
    font-size: 1vw;
    transition-property: all;
    transition-duration: 0.75s;
}

.footertext:hover{
    filter: brightness(50%);
    transform: translateX(1vw);
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 0.1vw;
}

.THICK{
    height: 0.5vw;
    border: none;
    transition-property: all;
    transition-duration: 0.75s;
}

.LESSTHICK{
    height: 0.4vw;
    border: none;
    transition-property: all;
    transition-duration: 0.75s;
}

.LESSTHICK:hover{
    opacity: 0.6;
}