@charset "utf-8";
/* CSS Document */
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --topbarsize: 6vw;
  --topbarfontsize: 1.8vw;
}

body {
	background-color: #111;
	color: #FFF;
	font-size: 2vw;
	margin: 0px;
}

.dark-mode {
	background-color: #111;
	color: #FFF;
	transition-property: all;
    transition-duration: 0.5s;
    transition-timing: ease-in-out;
}

.light-mode {
	background-color: #FFF;
	color: #333;
	transition-property: all;
    transition-duration: 0.5s;
    transition-timing: ease-in-out;
}

.title {
  text-align: center;
  font-size: 3.6vw;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.nav-list {
	background-color:#333;
    list-style-type: none;
	height: 6vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
	transition-property: all;
    transition-duration: 1s;
    transition-timing: ease-in-out;
	width: 100%;
}

.gap {
    display: flex;
    width: 12.6vw;
	height: 6vw;
    border: none;
    background-color: #333;
	padding: 0px;
    font-size: 1.5vw;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-weight: bold;
    transition-property: all;
    transition-duration: 1s;
    transition-timing: ease-in-out;
}

.block {
    display: block;
	position: relative; 
    width: 10.6vw;
    height: 6vw;
    line-height: 1.5vw;
    border: none;
    background-color: #333;
    padding: 2.1vw 0vw 2.1vw 0vw;
    font-size: 1.275vw;
    cursor: pointer;
    color: #FFF;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    transition-property: all;
    transition-duration: 1s;
    transition-timing: ease-in-out;
	font-weight: bold;
	
}

.block:hover{
  background-color: #666;
  color: #FFF;
  line-height: 3vw;
}

.icon {
    display: block;
    width: 5.6vw;
    border: none;
    background-color: #333;
    padding: 1.55vw 0vw 1.35vw 0vw;
    font-size: 1.275vw;
    cursor: pointer;
    text-align: center;
    color: #FFF;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    transition-property: all;
    transition-duration: 1s;
    transition-timing: ease-in-out;
}

.icon:hover{
  padding: 2.05vw 0vw 0.85vw 0vw;
}
.mail:hover{
	background-color:#008EFF;
}

.youtube:hover{
	background-color:#F00;
}

.lightOff{
	background-color:#333;
	display: block;
    width: 5.6vw;
    border: none;
    padding: 1.55vw 0vw 1.35vw 0vw;
    font-size: 1.275vw;
    cursor: pointer;
    text-align: center;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing: ease-in-out;
}

.lightOn{
	background-color:#EEE;
	display: block;
    width: 5.6vw;
    border: none;
    padding: 1.55vw 0vw 1.35vw 0vw;
    font-size: 1.275vw;
    cursor: pointer;
    text-align: center;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing: ease-in-out;
}

.lightOff:hover{
	background-color:#666;
}

.lightOn:hover{
	background-color:#CCC;
}

.instagram:hover{
	background-color:#8134AF;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

#mainlogo{
	margin: 0vw 0vw 0vw 0vw;
}

.sticky {
	position: fixed;
	top: 0;
}

.content {
	padding: 1vw;
}

.paddingtop {
	padding-top: 7vw;
}

#topVideo{
	padding: 0;
	margin: 0;
}
