@charset "utf-8";
/* CSS Document */
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --topbarsize: 80px;
  --topbarfontsize: 24px;
}

.title {
  color: #333;
  text-align: center;
  font-size: 48px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.top-bar {
  background-color: #222;
  height: var(--topbarsize, 80px);
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap {
  display: block;
  width: 180px;
  border: none;
  background-color: #333;
  padding: 26px 5px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: #FFF;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.gap:hover{
  background-color: #333;
}

.block {
  display: block;
  width: 140px;
  height: 80px;
  line-height: 20px;
  border: none;
  background-color: #333;
  padding: 28px 0px 28px 0px;
  font-size: 17px;
  cursor: pointer;
  color: #FFF;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  transition-property: all;
  transition-duration: 1s;
  transition-timing: ease-in-out;
	
}

.block:hover{
  background-color: #666;
  color: #FFF;
  line-height: 40px;
}

.icon {
  display: block;
  width: 61px;
  border: none;
  background-color: #333;
  padding: 22px 0px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  color: #FFF;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  transition-property: all;
  transition-duration: 1s;
  transition-timing: ease-in-out;
}

.icon:hover{
  padding: 30px 0px 14px 0px;
}
.mail:hover{
	background-color:#008EFF;
}

.youtube:hover{
	background-color:#F00;
}

.linkedin:hover{
	background-color:#0C64C5;
}

.instagram:hover{
	background-color:#fb09be;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
